<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDulGheVWYB_yW8D-GHLAzWHZZ9Q7IJ9l0</string>
	<key>GCM_SENDER_ID</key>
	<string>306086306239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bmiCalcur</string>
	<key>PROJECT_ID</key>
	<string>bmi-diary-ebce4</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-diary-ebce4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306086306239:ios:570ae2e2e2b0a39b83410a</string>
</dict>
</plist>